// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;

$gray-lightest: darken($white, 10%);
$gray-lighter: darken($white, 18%);
$gray-light: darken($white, 25%);
$gray: lighten($black, 50%);
$gray-dark: lighten($black, 25%);
$gray-darker: lighten($black, 18%);
$gray-darkest: lighten($black, 10%);

// Specific
// =============================================================================
// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);
// Selection
$selection-text-color: #3297fd;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
